---
import { projects } from "@/constants/const";
import { getIconComponent } from "@/icons/IconAll.astro";
import MainLayout from "@/layouts/MainLayout.astro";

export const getStaticPaths = async () => {
  return projects.map((project) => ({
    params: {
        id: project.id,
    },
    props: {
        project
    }
  }))
}

const { project } = Astro.props;

---

<MainLayout title=`${project.title} - Portfolio - Miguel Angel Lupani`>
  <section id="portfolio-details" class="portfolio-details">
    <div class="container">
      <div class="swiper">
        <div class="swiper-wrapper">
          <!-- Slides -->
          {
            project?.imgs.map((img, i) => (
              <div class="swiper-slide">
                {
                  i === 0 ?
                    <img transition:name={`project-${project.title}`} loading="lazy" src={`/img/${img}`} alt={project?.title} /> :
                    <img src={`/img/${img}`} loading="lazy" alt={project?.title} />
                }
              </div>
            ))
          }
        </div>
        <!-- If we need pagination -->
        <div class="swiper-pagination"></div>
        <!-- If we need navigation buttons -->
        <div class="swiper-button-prev"></div>
        <div class="swiper-button-next"></div>
      </div>

      {
        project && (
          <div class="details">
            <h2>
              {
                project.title
              }
            </h2>
            <div class="portfolio-description">
              <div class="buttons-container">
                <div class="container-link-project">
                  <a href={project?.link} target="_blank">Web
                    <i class="fa-solid fa-globe"></i>
                  </a>
                </div>
                <div class="container-link-project">
                  <a href={project?.link_github} target="_blank">Repositorio
                    <i class="fa-brands fa-github"></i>
                  </a>
                </div>
                {
                  project.link_backend &&
                    <div class="container-link-project">
                      <a href={project?.link_backend} target="_blank">Backend
                        <i class="fa-brands fa-github"></i>
                      </a>
                    </div>
                }
              </div>
              <p class="project-description">
                {
                  project.description
                }
              </p>
              <div>
                <h6 class="title-list">Implementaciones</h6>
                <ul class="list">
                  {
                    project.implementations.map((imp,i) => <li>{imp}</li>)
                  }
                </ul>

                <h6 class="title-list">Funcionalidades</h6>
                <ul class="list">
                  {
                    project.functions.map((func,i) => <li>{func}</li>)
                  }
                </ul>

                <h2 class="title-list">Tecnologias</h2>
                <div class="tecnologies">
                  {
                    project.technologies.map(({icon}) => {
                      const IconComponent = getIconComponent(icon);
                      const nameCapitalized = icon.charAt(0).toUpperCase() + icon.slice(1);
                      return (
                        <span title={nameCapitalized}>{IconComponent && <IconComponent />}</span>
                      );
                    })
                  }
                </div>
              </div>
            </div>
          </div>
          )
      }
    </div>
  </section>
</MainLayout>

<script src="https://kit.fontawesome.com/2898a0ac51.js" crossorigin="anonymous"></script>


<style>

  .container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 40px;
    color: white;
    gap: 50px;
  }
  .swiper {
    width: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  .swiper img {
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;
    margin: 0 auto
  }
  .details {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    margin-top: 10px;
  }
  .tecnologies {
    display: flex;
    list-style: none;
    padding: 0;
    gap: 20px;
    margin-top: 10px
  }

  .buttons-container{
    display: flex;
    flex-direction: row;
    gap: 20px;
  }

  .container-link-project{
    padding: 20px 0px !important;
  }

  .container-link-project a {
    color: white;
    text-decoration: none;
    font-size: 20px;
    display: flex;
    align-items: center;
    gap: 10px;
  }

  i {
    font-size: 25px;
  }

  .project-description {
    padding: 20px 0;
    font-size: 20px;
  }

  .list {
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    font-size: 15px;
  }

  .title-list {
    font-size: 20px;
    padding: 10px 0;
    text-decoration: underline;
  }

  @media (max-width: 900px) {
    .container {
      flex-direction: column;
      padding: 0;
    }
    .swiper {
      width: 100%;
      height: 100%;
    }
    .swiper img {
      width: 100%;
      height: 75vh;
      object-fit: contain;
      max-width: unset;
      min-width: auto;
    }
    .details {
      width: 100%;
      padding: 0 40px;
      margin-top: 0px;
    }
  }
</style>

<script>

  import Swiper from 'swiper';
  import { Pagination, Navigation } from 'swiper/modules';
  // import Swiper and modules styles
  import 'swiper/css';
  import 'swiper/css/navigation';
  import 'swiper/css/pagination';

  document.addEventListener('astro:page-load', () => {
    const swiper = new Swiper('.swiper', {
      loop: true,
      pagination: {
        el: '.swiper-pagination',
      },
      navigation: {
        nextEl: '.swiper-button-next',
        prevEl: '.swiper-button-prev',
      },
      modules: [Pagination, Navigation],
    });
  });
  
</script>

