---
import { exp } from "@/constants/const";
---

<section class="section_exp">
  <div class="linear-grandient-1"></div>
  <div class="content_exp">
    <h3 class=".title-exp">
      {
        Array.from("Experiencia").map((letter, index) => (
          <span class="p-profession">{letter}</span>
        ))
      }
      <span class="p-profession">&nbsp;</span>
      {
        Array.from("laboral").map((letter, index) => (
          <span class="p-profession">{letter}</span>
        ))
      }
    </h3>
    <ul class="ul-exp">
      {
        exp.map(({ date, title, corporation }) => (
          <li class="li-exp">
            <span class="circle" />
            <div>
              <h3>{title}</h3>
              <p>{corporation}</p>
              <span>{date}</span>
            </div>
          </li>
        ))
      }
    </ul>
  </div>
</section>

<style>
  .section_exp {
    position: relative;
    width: auto;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .linear-grandient-1 {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    /* background: radial-gradient(at left center, rgba(1, 190, 150 , 0.5), transparent , transparent); */
    /* background: linear-gradient(to top, rgba(1, 190, 150, 0.5), #000); */
    z-index: 0;
  }
  .content_exp {
    position: relative;
    z-index: 1;
    width: 90%;
    height: 100%;
    margin: 0 auto;
    padding: 20px 0;
    max-width: 1355px;
  }
  .title-exp {
    font-size: 27px;
    color: #f6f6f9;
    text-align: left;
    width: 100%;
    font-weight: 800;
    scroll-margin-top: 80px;
    padding: 20px 0;
  }
  .ul-exp {
    padding: 30px 10px;
    display: flex;
    flex-direction: column;
  }
  .li-exp {
    padding: 0px 20px;
    color: #f6f6f9;
    border-left: 1px solid #f6f6f9;
    list-style: none;
    position: relative;
    padding-bottom: 50px;
  }
  .circle {
    position: absolute;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    left: -5px;
    top: 5px;
    background-color: #01be96;
  }
  .li-exp h3 {
    padding-bottom: 5px;
    font-weight: 200;
  }
  .li-exp p {
    padding: 5px 0;
  }
  .li-exp span {
    font-size: 13px;
  }
</style>
